@use "../theme";

.coinPage {
    display: flex;
    height: 100%;
    padding: 0 20px;
    flex-direction: column;
}

.title {
    size: 48px;
    color: var(--theme-accent-color);
}

.header {
    display: flex;
    height: 10vh;
    justify-content: center;
    align-items: center;
}

.coinlist {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.coin {
    background-color: white;
    color: var(--theme-page-background);
    margin-bottom: 12px;
    padding: 20px;
    border-radius: 15px;
    a {
        display: block;
        padding: 10px;
        transition: color 0.2s ease-in;
    }

    &:hover {
        a {
            color: var(--theme-accent-color);
        }
    }
}
