@use "../theme";

.coinPage {
    display: flex;
    height: 100%;
    padding: 0 20px;
    flex-direction: column;
    padding: 0 20px;
    max-width: 480px;
    margin: 0 auto;
}

.title {
    font-size: 48px;
    color: var(--theme-accent-color);
}

.header {
    display: flex;
    height: 10vh;
    justify-content: center;
    align-items: center;
}

.coinlist {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.coin {
    background-color: white;
    color: var(--theme-page-background);
    margin-bottom: 12px;
    padding: 20px;
    border-radius: 15px;
    a {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
        padding: 10px;
        transition: color 0.2s ease-in;
    }

    &:hover {
        a {
            color: var(--theme-accent-color);
        }
    }
}

.loader {
    display: block;
    text-align: center;
}

.coinSymbol {
    width: 32px;
    height: 32px;
}
