.light {
    --theme-color: #7851a9;
    --theme-page-background: #fff;
    --theme-page-text: #111;
}

.dark {
    --theme-color: #2f3640;
    --theme-page-background: #111;
    --theme-page-text: #f5f6fa;
    --theme-accent-color: #7851a9;
}
