//media
$breakpoint-mobile: 335px;
$breakpoint-tablet: 758px;
$breakpoint-laptop: 1024px;
$breakpoint-hd: 1920px;
$breakpoint-4k: 2560px;

//color
$primary-color: #454fe3;
$primary-dark-color: #2f3640;
$white-color: #f5f6fa;
$accent-color: #44bd32;
